.note-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  position: relative;
}

.note-input .note-input-label {
  margin: 0.5em;
}

.note-input .note-input-content {
  border: 1px solid black;
  border-radius: 5px;
  resize: none;
  width: 350px;
  height: 100px;
  padding: 1em;
}

.note-input .note-btn-add {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0 3px 2px 7px;
  cursor: pointer;
}